<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'community/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'community/css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
<!-- navbar  -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="{% url 'community' %}" class="navbar-brand">Bd Crew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community' %}">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About me</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 본문 -->
<div class="container">
    {% block blog_title %}{% endblock %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="main-div">
            <br>
            {% block content %}
            {% endblock %}
        </div>
</div>
<script src="{% static 'community/js/jquery.js' %}"></script>
<script src="{% static 'community/js/popper.js' %}"></script>
<script src="{% static 'community/js/bootstrap.js' %}"></script>
<script src="{% static 'community/js/custom.js' %}"></script>
</body>
</html>