{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<p>
    {% blocktrans with site.name as site_name %}
        부디 구글 로그인을 사용하시길 바랬지만,
        굳이 내부 회원가입을 사용하시겠다면,
        <a href="{{ signup_url }}">회원가입</a>을 눌러서
        커뮤니티를 이용해주세요
    {% endblocktrans %}
</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-secondary btn-lg btn-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</button>
  <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}