{% extends "community/base.html" %}
{% block title %}{{ object.title }} - in Community{% endblock %}
{% block navbar_title %}BD Crew{% endblock %}
{% block content %}
    <h3>Edit Comment : </h3>
    <form method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
    {{ form.media }}
{% endblock %}