{% extends "community/base.html" %}
{% block title %}{{ object.title }} - in Community{% endblock %}
{% block navbar_title %}BD Crew{% endblock %}
{% block content %}
    <form method="post">{% csrf_token %}
        {{ object.get_markdown_content | safe }}
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
    {{ form.media }}
{% endblock %}