{% extends 'basecamp/base_full.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-3">About Me</h1>
            <h3 class="my-3">안녕하세요. 여려가지 하는 개발자 이동현입니다.</h3>

            <h5 class="my-3">새로운 일을 기다리고 있습니다.</h5>
            <p>스킬 : python, django, 데이터 정제 및 분석 등</p>
            <p>스킬 : java, jsp, 등등</p>
            <p>스킬 : database 사용가능</p>
        </div>
        <div class="col-md">
            <img class="img-fluid" src="{% static 'basecamp/images/man.jpg' %}"/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="{% static 'basecamp/images/man.jpg' %}"/>
            </div>
            <div class="col-md">
                <h1 class="my-3">Content me</h1>
                <h3>E-mail : <small>axzswq@gmail.com</small></h3>
            </div>
        </div>
    </div>
{% endblock %}