<!-- navbar  -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar">
    <div class="container">
        <a href="{% url 'community' %}" class="navbar-brand">BD Crew</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'community' %}">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_me/">About me</a>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="blog-list">{{ user }}<span
                            class="caret"></span> </a>
                    <div class="dropdown-menu" aria-labelledby="themes">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                    </div>
                </li>
                {% else %}
                    <li class="nav-item">
                        <!-- 버튼 트리거 모달 -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#gogle_login_modal">
                            로그인
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="gogle_login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그인을 해주시길 바랍니다.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-primary" href="{% provider_login_url 'google' %}"><span class="material-icons">input</span> 구글 로그인</a>
                        <a role="button" class="btn btn-danger" href="/accounts/login/"><span class="material-icons">email</span> 이메일 로그인</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-danger" href="/accounts/signup/"><span class="material-icons">email</span> 이메일 회원가입</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
